<mat-sidenav-container class="sidenav-container" (backdropClick)="leftdrawer.close()">
  <mat-sidenav #leftdrawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      style="padding: 20px 40px 0px 40px; ">
      <button mat-mini-fab class="mat-elevation-z1" (click)="leftdrawer.toggle()" color="default">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <br>
    <mat-toolbar style="text-align: center; font-weight: 700; color: #0D2A39; padding: 55px;">Begin a new task</mat-toolbar>
    <form [formGroup]="form" style="display: grid; justify-content: center; align-items: center;">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" [formControl]="titleControl" maxlength="15" required>
        <mat-icon matSuffix style="color: #7B61B2;">title</mat-icon>
        <mat-error *ngIf="titleControl.invalid" align="end">Max 15 characters</mat-error>
        <mat-hint *ngIf="titleControl.value" align="end">{{titleControl.value?.length || 0}}/15</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Subtitle</mat-label>
        <input matInput placeholder="Subtitle" [formControl]="subtitleControl" maxlength="10">
        <mat-icon matSuffix style="color: #40B1B0;">subtitles</mat-icon>
        <mat-error *ngIf="subtitleControl.invalid">Max size: 10px</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Description" [formControl]="descriptionControl" maxlength="100" required>
        <mat-icon matSuffix style="color: #FFA751;">description</mat-icon>
        <mat-error *ngIf="descriptionControl.invalid" align="end">Max 100 characters</mat-error>
        <mat-hint *ngIf="descriptionControl.value" align="end">{{descriptionControl.value?.length || 0}}/100</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field appearance="outline">
        <mat-label>Due date</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="dateControl" [min]="startDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker1" style="color: #FF5656;"></mat-datepicker-toggle>
        <mat-datepicker #picker1 [startAt]="startDate"></mat-datepicker>
      </mat-form-field>
      <br>
      <button mat-raised-button class="mat-elevation-z4" (click)="createTask(); leftdrawer.close();" [disabled]="form.invalid" color="default" style="font-weight: 800; margin: 10px; border-bottom: 2px solid #0D2A39; border-radius: 300px; padding: 3px 25px 3px 25px;">Create task</button>
    </form>
  </mat-sidenav>

<!-- RIGHT SIDE NAV -->
  <mat-sidenav #rightdrawer class=" mat-elevation-z0" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
      position="end"
      style="width: 350px;">
    <mat-toolbar style="background-color: white;">
      <span class="spacer"></span>
      <button class="icon mat-elevation-z1" mat-mini-fab color="default"><mat-icon aria-hidden="false" aria-label="Example search icon">search</mat-icon></button>
      <button class="icon mat-elevation-z1" mat-mini-fab color="default"><mat-icon aria-hidden="false" aria-label="Example heart icon">grade</mat-icon></button>
      <button class="icon mat-elevation-z1" mat-mini-fab color="default"><mat-icon aria-hidden="false" aria-label="Example heart icon">notifications</mat-icon></button>
      <span class="spacer"></span>
    </mat-toolbar>
    <mat-nav-list style="padding: 20px;">

      <mat-card class="mat-elevation-z0">
        <div class="ui-g">
          <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="display: grid; align-items: center;">
            <span>Hello,<h2 style="margin: 0px;">Shazian</h2></span>
          </div>
          <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="display: grid; align-items: center; justify-content: center;">
            <img src="../../assets/img/avtar.png" mat-card-avatar style="width: 140px; height: 140px;">
          </div>
          <div class="ui-g-12 ui-sm-8 ui-md-8 ui-lg-8" style="display: grid; justify-content: center; align-items: center;">
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-card>

      <mat-card class="mat-elevation-z0">
        <div class="ui-g">
          <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="display: grid; align-items: center; margin-bottom: 30px;">
            <mat-card-subtitle>Total Tasks:</mat-card-subtitle>
            <h1 style="line-height:80%; margin: 0; border-left: 4px solid #7B61B2; padding-left: 10px;">189</h1>
          </div>
          <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="display: grid; align-items: center; margin-bottom: 30px;">
            <mat-card-subtitle>Completed:</mat-card-subtitle>
            <h1 style="line-height:80%; margin: 0; border-left: 4px solid #40B1B0; padding-left: 10px;">174</h1>
          </div>
          <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="display: grid; align-items: center; margin-bottom: 30px;">
            <mat-card-subtitle>In progress:</mat-card-subtitle>
            <h1 style="line-height:80%; margin: 0; border-left: 4px solid #FFA751; padding-left: 10px;">13</h1>
          </div>
          <div class="ui-g-12 ui-sm-6 ui-md-6 ui-lg-6" style="display: grid; align-items: center; margin-bottom: 30px;">
            <mat-card-subtitle>Out of schedule:</mat-card-subtitle>
            <h1 style="line-height:80%; margin: 0; border-left: 4px solid #FF5656; padding-left: 10px;">2</h1>
          </div>
          <div class="ui-g-12 ui-sm-8 ui-md-8 ui-lg-8" style="display: grid; justify-content: center; align-items: center;">
            <mat-divider></mat-divider>
          </div>
        </div>
      </mat-card>

      <mat-card class="mat-elevation-z0" style="margin-top: 50px; border-radius: 30px 0 0 0;">
        <div class="ui-g">
          <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-12" style="display: grid; align-items: center; justify-content: left;">
            <span style="color: #C5C5C5;">Designed & Developed by</span>
            <h3 style="color: #0D2A39; margin: 0px;">
              <a target="_blank" href="https://sachinsharma.web.app/">sachinsharma.web.app</a>
            </h3>
          </div>
        </div>
      </mat-card>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="background-color: white;">
    <mat-toolbar style="background-color: white;">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="leftdrawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" style="color: #0D2A39; font-weight: 900;">add</mat-icon>
      </button>
      <span class="mob-font-reduce title">Task <span style="color: #C5C5C5">Management</span></span>
      <span class="spacer"></span>
      <button mat-raised-button (click)="leftdrawer.toggle()" class="mat-elevation-z4 mob-hide" color="primary" style="margin-right: 20px; border-radius: 300px; padding: 3px 25px 3px 25px; background-color: #0D2A39;">Start a new task</button>
      <img (click)="rightdrawer.toggle()" src="../../assets/img/avtar.png" class="mat-elevation-z0" mat-card-avatar style="cursor: pointer; width: 50px; height: 50px;">
    </mat-toolbar>
    <app-dashboard></app-dashboard>
    <!-- <router-outlet></router-outlet> -->
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

