<!-- <mat-progress-bar *ngIf="authState === '{}'" mode="query"></mat-progress-bar> -->

<mat-card class="mat-elevation-z0" style="background-color: #F7F9FB; border-radius: 20px; min-height: 88%;">
  <div class="ui-g mob-hide" style="padding: 20px;">
    <div class="ui-g-12 ui-sm-1 ui-md-2 ui-lg-2">
      <button mat-icon-button (click)="ngOnInit();">
        <mat-icon style="font-size: x-large;">refresh</mat-icon>
      </button>
      <button mat-icon-button disabled>
        <mat-icon style="font-size: x-large;">view_quilt</mat-icon>
      </button>
    </div>
    <span class="spacer"></span>
    <div class="ui-g-12 ui-sm-5 ui-md-5 ui-lg-5">
      <mat-form-field appearance="none" style="font-size: small; width: 100px; margin-right: 50px;">
        <mat-label>Label</mat-label>
        <mat-select (selectionChange)="changeLabel($event.value)" style="font-weight: 900;">
          <mat-option value="TOTALTASKS">Total tasks</mat-option>
          <mat-option value="COMPLETED">Completed</mat-option>
          <mat-option value="INPROGRESS">Inprogress</mat-option>
          <mat-option value="OUTOFSCHEDULE">Out of schedule</mat-option>
          <mat-option value="DELETED">Deleted</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="none" style="font-size: small; width: 100px;">
        <mat-label>Sort</mat-label>
        <mat-select style="font-weight: 900;">
          <mat-option value="DATECREATED">Date created</mat-option>
          <mat-option value="DUEDATE">Due date</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-sm-12 ui-md-12 ui-lg-4" [@growInShrinkOut] *ngFor="let item of filteredData;">
      <mat-card class="task-card mat-elevation-z0" style="border-radius: 30px; padding: 30px;">
        <button mat-icon-button style="margin: 20px; position: absolute; top: 0; right: 0;">
          <mat-icon *ngIf="item.properties.STATUS === 'INPROGRESS'" style="color: #FFA751; font-size: medium;">done</mat-icon>
          <mat-icon *ngIf="item.properties.STATUS === 'COMPLETED'" style="color: #40B1B0; font-size: medium;">done_all</mat-icon>
          <mat-icon *ngIf="item.properties.STATUS === 'OUTOFSCHEDULE'" style="color: #7B61B2; font-size: medium;">warning</mat-icon>
          <mat-icon *ngIf="item.properties.STATUS === 'DELETED'" style="color: #FF5656; font-size: medium;">delete</mat-icon>
        </button>

        <mat-card-title>
          <span style="font-weight: 900; font-size: large;">{{item.TITLE}}</span>
        </mat-card-title>
        <mat-card-subtitle>{{item.SUBTITLE}}</mat-card-subtitle>
        <mat-card-content>
          <p style="word-wrap: break-word;">{{item.DESC}}</p>
        </mat-card-content>
        <mat-card-actions align="end" style="padding-left: 9px;">
          <mat-card-subtitle style="margin: auto; font-size: x-small;">{{item.DATE*1000 | date}}</mat-card-subtitle>
          <span class="spacer"></span>

          <button mat-icon-button (click)="addToStarred(item);">
            <mat-icon style="font-size: medium;" [ngStyle]="{'color': item.properties.isSTARRED ? '#FFA751':null}">star</mat-icon>
          </button>

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon style="font-size: large;">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu" style="border-radius: 30px;">
            <button mat-menu-item (click)="changeStatus(item, 'COMPLETED');">
              <mat-icon style="color: #40B1B0;">done_all</mat-icon>
              <span>Completed</span>
            </button>
            <button mat-menu-item (click)="changeStatus(item, 'INPROGRESS');">
              <mat-icon style="color: #FFA751;">done</mat-icon>
              <span>In progress</span>
            </button>
            <button mat-menu-item (click)="changeStatus(item, 'OUTOFSCHEDULE');">
              <mat-icon style="color: #7B61B2;">warning</mat-icon>
              <span>Out of schedule</span>
            </button>
            <button mat-menu-item (click)="changeStatus(item, 'DELETED');">
              <mat-icon style="color: #FF5656;">delete</mat-icon>
              <span>Remove</span>
            </button>
          </mat-menu>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</mat-card>
